/* background */
  .background {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }

  .login100-form-title {
    display: block;
    font-family: SourceSansPro-Bold;
    font-size: 30px;
    color: #4b2354;
    line-height: 1.2;
    text-align: center;
  }

 /* form control */
 #form {
    width: 420px;
    height: 560px;
}

.container col-1{
    margin-right: center;
    margin-left: center;
    display: flex;
}

.container col-2{
    margin-right: center;
    margin-left: center;
    display: flex;
}

/* input email control */
#input_email {
    display: flex;
}
/* input pwd control */
#input_pwd {
    display: flex;
}

  .wrap-login100 {
    width: 420px;
    height: 560px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  .login100-form-title {
    display: block;
    font-family: SourceSansPro-Bold;
    font-size: 30px;
    color: #4b2354;
    line-height: 1.2;
    text-align: center;
  }
  
  /* .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } */

  /* Sign In btn */
  #signin-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #f0a7a7;
    border-radius: 25px;
    

    font-family: SourceSansPro-SemiBold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    box-shadow: 0 10px 30px 0px rgba(245, 105, 105, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(245, 105, 105, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(245, 105, 105, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(245, 105, 105, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(245, 105, 105, 0.5);  
  }
/* Sign Up btn */
#signup-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #f3b4b4ec;
    border-radius: 25px;
    

    font-family: SourceSansPro-SemiBold;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    
  }

/* space */
#space {
    width:460px;
    height: 50px;
}
#space2 {
    width:460px;
    height: 50px;
}
#space3 {
    width: 460px;
    height: 1px;
}
/* login with google */
.txt1 {
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    line-height: 1.4;
    color: #999999;
  }
  .login100-social-item {
    font-size: 25px;
    color: #3b5998;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);

  }
  
/* RWD */
@media (min-width:575.98px){
    .window{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}
@media (min-width:767.98px){
    .window{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
@media (min-width:991.98px){
    .window{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}

@media (max-width: 480px) {
    .wrap-login100 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }